.heading{
    background-color: rgb(23, 161, 44);
    color: white;
    padding: 10px 35px;
    border: none;
    cursor: pointer;
    font-size: 17px;
}
.heading:hover{
    background-color: rgb(15, 101, 9);
}
.content{
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px;
}
.content:hover{
    background-color: rgb(215, 211, 207);
}
.div-links{
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown {
    position: relative;
    display: inline-block;
  }
.dropdown:hover .div-links {
    display: block;
  }